a, input, h4, h5 {
	color: #2B7A78;
}

a:hover {
	text-decoration: none;
}

::selection {
	color: #DEF2F1;
}

pre {
	font-size: 9px;
	border: 0 auto;
	margin: 0 auto;
}

header, footer, h4, h5 {
	letter-spacing: 2px;
}

.text-left {
	font-size: 35px;
}

.col-sm-3 img{
	border: 2px solid #2B7A78;
	margin-top: 30px;
}

.swoop {
	max-width: 90px;
	max-height: 160px;
	width: auto;
	height: auto;
	display: block;
}