* {
	box-sizing: border-box;
	background-color: papayawhip;
	font-family: 'Poppins', sans-serif;
}

html, body {
	margin: 0;
}

.clearfix::after {
	display: block;
	clear: both;
	height: 0;
	font-size: 0;
	content: '';
}

h1 {
	text-decoration: underline;
}

pre {
	text-decoration: blink;
}

img {
	border: 2px dashed black;
	margin-top: 100px;
}

header {
	text-align: center;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	border-bottom: 2px solid black;
}

header, h1, h2, footer, p, a, pre {
	background-color: coral;
}

aside {
	width: 333px;
	float: left;
	padding: 10px;
	display: block;
}

main {
	width: 1000px;
	margin: 0 auto;
}

.ingred {
	width:calc(100%/3);
	float: left;
	padding: 10px;
	margin: 0 auto;
}

.instruct {
	width:calc(100%/3);
	float: left;
	padding: 10px;
	margin: 0 auto;
	position: relative;
}


footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	border-top: 2px solid black;
}